<div id="inquiries">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1 style="text-align: center">{{msgInq}}</h1>
                <br>
                <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="inquiries">Inquiries</a>
                    </li>
                </ul>
                <br>
                <h3>Customer Inquiries</h3>
                <div class="row">
                    <div class="col-6">
                        <h4>New Inquiries:</h4>
                        <div id="inquiry-list" class="list-group">
                        {{#each inquiries}}
                        {{#unless this.completed}}
                        <ul class="inquiry-item list-group-item" data-id="{{this.id}}" style="list-style-type: none">
                            <li>Name: {{this.name}}</li>
                            <li>Email: {{this.email}}</li>
                            <li>Sent: {{this.createdAt}}</li>
                            <p>Message: {{this.message}}</p>
                            <button class="btn btn-success float-left completeInquiry">Completed</button>
                        </ul>
                        {{/unless}}
                        {{/each}}
                        </div>
                    </div>
                    <div class="col-6">
                        <h4>Completed Inquiries:</h4>
                        <div id="completed-inquiry-list" class="list-group">
                        {{#each inquiries}}
                        {{#if this.completed}}
                        <ul class="inquiry-item list-group-item" data-id="{{this.id}}" style="list-style-type: none">
                            <li>Name: {{this.name}}</li>
                            <li>Email: {{this.email}}</li>
                            <li>Sent: {{this.createdAt}}</li>
                            <p>Message: {{this.message}}</p>
                            <button class="btn btn-danger float-left deleteInquiry">Delete</button>
                        </ul>
                        {{/if}}
                        {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>